{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}UHD - Change Email Address{% endblock %}

{% block content %}

<div class="row">
    <h1 class="grey-text darken-4 center">Change Your Email Address</h1>
    <br>
</div>


<div class="row">

    <div class="col s6 offset-s3">
        <p class="left">
            Return?
            <a href="{{ url_for('main.students') }}">
                 To Students
            </a>
        </p>
    </div>

    <div class="col s6 offset-s3">
        {{ wtf.quick_form(form) }}
    </div>



</div>

{% endblock %}
