{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="row">
    <h1 class="grey-text darken-4 center">Login</h1>
    <br>
</div>


<div class="row">

    <div class="col s6 offset-s3">
        <p class="left">
            New user?
            <a href="{{ url_for('auth.register') }}">
                Click here to register
            </a>
        </p>
    </div>

    <div class="col s6 offset-s3">
        <form action="{{ url_for('auth.login') }}" method="POST">
            {{ form.hidden_tag() }}

            {{ form.email.label }} {{ form.email(class='input-field') }}
            {{ form.password.label }} {{ form.password(class='input-field') }}
            <p>{{ form.remember_me }} Remember Me</p>
            {{ form.submit(class='btn right') }}
        </form>
    </div>


    <!-- <form class="col s6 offset-s3" action="{{ url_for('auth.login') }}" method="POST">
        <input type="email" name="email" class="input-field" value="">
        <input type="password" name="password" class="input-field" value="">
        <input class="waves-effect waves-light btn right" type="submit" value="Log In">
    </form> -->
</div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">
        {% for message in get_flashed_messages() %}
        var $toastContent = $('<span>{{ message }} </span>').add($('<i class="material-icons"></i>'));
            Materialize.toast($toastContent, 10000);
        {% endfor %}
</script>
{% endblock %}
