{% extends "base.html" %}
{% block title %} Register {% endblock %}

{% block content %}
<div class="row">
    <h1 class="grey-text darken-4 center">Register</h1>
</div>


<div class="row">
    <div class="col s6 offset-s3">
        <p class="left">
            Already registered?
            <a href="{{ url_for('auth.login') }}">
                Click here to login
            </a>
        </p>
    </div>

    <form method="post" action="{{ url_for('auth.register') }}" class="col s6 offset-s3">
        {{ form.hidden_tag() }}

        {{ form.email.label }} {{ form.email() }}
        {{ form.username.label }} {{ form.username() }}
        {{ form.password.label }} {{ form.password() }}
        {{ form.password2.label }} {{ form.password2() }}
        <!-- <input class="waves-effect waves-light btn right" type="submit" value="Register"> -->
        {{ form.submit(class="waves-effect waves-light btn right") }}
    </form>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
        {% for message in get_flashed_messages() %}
        var $toastContent = $('<span>{{ message }} </span>').add($('<i class="material-icons"></i>'));
            Materialize.toast($toastContent, 10000);
        {% endfor %}
</script>
{% endblock %}
