<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock%}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">

        <nav>
            <ul id="dropdown1" class="dropdown-content">
                <li ><a href="{{ url_for('auth.change_password') }}"><i class="material-icons">settings</i>password</a></li>
                <li><a href="{{ url_for('auth.change_email') }}">Change email</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('auth.logout') }}">(Sign Out)</a></li>
            </ul>
            <div class="nav-wrapper teal darken-2">
                <a href="{{ url_for('main.index') }}" class="brand-logo center">UHD</a>
                <ul class="left hide-on-med-and-down">
                    {% if current_user.is_authenticated and current_user.is_admin %}
                    <li><a href="{{ url_for('auth.register') }}">Register a user</a></li>
                    {% endif %}

                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li><a href="{{ url_for('main.students') }}">Students</a></li>
                    {% endif %}

                </ul>
                <ul class="right">
                    {% if current_user.is_authenticated %}
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ current_user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
                    {% endif %}
                </ul>

            </div>
        </nav>

        {% block content %}



        {% endblock %}

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

        <script type="text/javascript">
            $(".dropdown-button").dropdown();
        </script>

        {% block javascript %}

        {% endblock %}
    </div>

</body>

</html>
