{% extends "base.html" %}

{% block title%}
UHD -Students
{% endblock %}

{% block content %}



<div class="row">

    <div class="col s12">

        <table class="striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Item Name</th>
                    <th>Item Price</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                </tr>
                <tr>
                    <td>Alan</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                </tr>
                <tr>
                    <td>Jonathan</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- col s9 -->
</div>
<!-- row -->


<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>



{% endblock %}

{% block javascript %}
    <script type="text/javascript">
            {% for message in get_flashed_messages() %}
            var $toastContent = $('<span>{{ message }} </span>').add($('<i class="material-icons"></i>'));
                Materialize.toast($toastContent, 10000);
            {% endfor %}
    </script>
{% endblock %}
