{% extends "base.html" %}
{% block title%}
UHD
{% endblock %}

{% block content %}
<div class="intro blue-grey darken-3 z-depth-1">
    <h1 class="grey-text text-lighten-5">Freshmen Admin Portal </h1>
    <h5 clas="grey lighten-4 grey-text text-darken-1">University of Human Development</h5>
</div>

<div class="container about">
    <h5> Please sign in to see the dashboard</h5>
    <h6><a href="{{ url_for('auth.login') }}">Sign In</a></h6>
    <hr>
    <div class="row">
        <div class="col s12 m4 l4">
            <h6>Story</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col s12 m4 l4">
            <h6>Profile</h6>
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <!-- <img src="http://labs.qnimate.com/portfolio-materialize/images/profile.png" width="64" height="64"> -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
                <div class="card-action">
                    <a href="#">Link</a>
                    <a href='#'>Link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <h6>current jobs</h6>
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header"><i class="mdi-av-web"></i>Designer</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-editor-format-align-justify"></i>Developer</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-av-play-shopping-bag"></i>Video Editor</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi-editor-insert-comment"></i>Support Asst.</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container portfolio">
    <h5>International Scientific Conference</h5>
    <h6>
</h6>
    <hr>
    <div class="row">
        <div class="col s12 m12 l12 portfolio-holder">
            <!-- <img class="materialboxed" src="http://uhd.edu.iq/img/image/albums/inte_conference_4/uhd_40.jpg">
            <img class="materialboxed" src="http://uhd.edu.iq/img/image/albums/International_Conference/10.JPG">
            <img class="materialboxed" src="http://uhd.edu.iq/img/image/albums/International_Conference/2.JPG">
            <img class="materialboxed" src="http://uhd.edu.iq/img/image/albums/International_Conference/49.JPG">
            <img class="materialboxed" src="http://uhd.edu.iq/img/image/albums/inte_conference_4/uhd_63.jpg">
            <img class="materialboxed" src="http://uhd.edu.iq/img/image/albums/inte_conference_4/uhd_104.jpg"> -->
        </div>
    </div>
</div>

<footer>
    <div class="footer-copyright">
        <div class="container center">
            © 2017 Copyright Text
            <a class="grey-text text-lighten-4 right" href="/">Link</a>
        </div>
    </div>
</footer>


{% endblock %}

{% block javascript %}
<script type="text/javascript">
    {% for message in get_flashed_messages() %}

    var $toastContent = $('<span>{{ message }} </span>').add($('<i class="material-icons"></i>'));
    Materialize.toast($toastContent, 10000);

    {% endfor %}

    $(document).ready(function() {
        $('.materialboxed').materialbox();
    });
    $(document).ready(function() {
        $('.materialboxed').materialbox();
    });
</script>
{% endblock %}
